body {
    margin: 0px;
    padding: 0px;
    background: #e5e5e5;
}

header {
    background: url("../icon/backgroundheader.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;

}

.logo {
    padding: 70px;
}

h1 {

    font-weight: 400;
    text-align: center;
    font-family: 'Anton';
    color: #FFD15B;

    font-size: 50px;
}

.search {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;

}

.search-bar {
    height: 20px;
    width: 900px;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.search-form {
    display: flex;



}

.search-button {
    position: relative;
    right: 65px;
    background-color: transparent;
    border: none;
}

.card {
    height: 100%;
    width: 500px;
    background: white;
    margin: 55px;
border-radius: 50px;
}

.recipe-image {
    width: 500px;
height: 300px;
object-fit: cover;
    border-radius: 50px 50px 0px 0px;

}

.recipe-description{


    padding: 30px;
}
.recipe-ingredients {
    margin-right: 50px;

}

.recipe-ingredients-all {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;



}

.recipe-title {
    padding-bottom: 30px;
    font-family: 'Anton';
    font-size: larger;

}

p {
    font-family:'Manrope';
}
.recipe-instruction-title{
    font-family:'Manrope';
color: #7a7a7a;
text-transform: uppercase;


}
.recipe-weight{
    color:#7a7a7a;
}
#recipe-container{

    display: flex;
    flex-wrap: wrap;
}